!!! 5
html
  head
    script(type="text/javascript",src="../build/build.js")
    script(type="text/javascript",src="example.js")
  body(onload="init()")
    span.testdiv(style="background: darkgray")
      | This span has the height: 100% - 40px
      | but at least 200px